@font-face {
  font-family: "Franklin Gothic Heavy";
  src: url("fonts/FranklinGothicHeavy.woff2") format("woff2"),
       url("fonts/FranklinGothicHeavy.woff") format("woff");
  font-weight: 900;   /* Heavy = 900 */
  font-style: normal;
}

.fg-heavy {
  font-family: "Franklin Gothic Heavy", sans-serif;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.fredoka-one {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 105.8;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* Title */
h1 {
    text-align: center;
    color: #9C6644;
    font-family: 'Franklin Gothic Heavy';
    font-weight: bold;
}

/* Grid */
.blog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
    padding: 6rem 0rem 0rem 0rem;
    margin: 0rem 0rem 0rem 0rem;

}

.blog-page {
    padding: 0rem 6rem 0rem 6rem;
}

/* Grid Cards */

.card1 {
    height: 1086px;
    width: 631px;
    background-color: #EDE0D4;
    border-radius: 2rem;
}

.card2 {
    height: 445px;
    width: 610px;
    background-color: #DDB892;
    border-radius: 2rem;
}

.card3 {
    height: 1070px;
    width: 570px;
    background-color: #DDB892;
    border-radius: 2rem;
    margin-top: 3rem;
}

.card4 {
    height: 1086px;
    width: 610px;
    background-color: #E6CCB2;
    border-radius: 2rem;
    margin-top: -36rem;
}

.card5 {
    height: 535px;
    width: 610px;
    background-color: #E6CCB2;
    border-radius: 2rem;
    margin-top: 3rem;
}

.card6 {
    height: 590px;
    width: 610px;
    background-color: #EDE0D4;
    border-radius: 2rem;
    margin-top: -32rem;
}

.card7 {
    height: 640px;
    width: 610px;
    background-color: #EDE0D4;
    border-radius: 2rem;
}

.card8 {
    height: 1120px;
    width: 610px;
    background-color: #DDB892;
    border-radius: 2rem;
    margin-top: -30rem;
}

/* Hover  */

.card1:hover {
    width: 1086px;
    height: 500px;
    padding: 120rem;
    transition: 2s, 2s;
 }
