@font-face {
  font-family: "Franklin Gothic Heavy";
  src: url("fonts/FranklinGothicHeavy.woff2") format("woff2"),
       url("fonts/FranklinGothicHeavy.woff") format("woff");
  font-weight: 900;   /* Heavy = 900 */
  font-style: normal;
}

.fg-heavy {
  font-family: "Franklin Gothic Heavy", sans-serif;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.fredoka-one {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 105.8;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* NAVBAR */

nav {
    width: 100%;
    position: relative;
    height: auto;
    /*background-color: rgb(242 220 204);*/
    display: flex;
    padding: 20px 40px 20px 40px;
    justify-content: space-between;
    z-index: 10;
}

.navbar-logo {
    width: 65px;
    height: 65px;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: center; /* Horizontally centers content */
    align-items: center; /* Vertically centers content */
}
nav ul li {
    /*background-color: #f5f5f5;*/
    color: #9c6644;
    margin-left: 45px;
    transition: transform 0.5s ease; 
}
nav ul li:hover {
    transform: scale(1.1) translateY(-2.5px);
}
nav ul li a {
    color: #9c6644;
}
nav ul li a:hover {
    color: #9C6644;
}

/*  Birthday Cake Section  */

.itemcard {
    width: 250px;
    height: 350px;
    border: 4px solid #E3B7A0;
    margin: auto;
}
.itemcard img {
    width: 50px;
    height: 50px;
    margin-left:6vw;
    margin-top: 50px;
}