@font-face {
  font-family: "Franklin Gothic Heavy";
  src: url("fonts/FranklinGothicHeavy.woff2") format("woff2"),
       url("fonts/FranklinGothicHeavy.woff") format("woff");
  font-weight: 900;   /* Heavy = 900 */
  font-style: normal;
}

.fg-heavy {
  font-family: "Franklin Gothic Heavy", sans-serif;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.fredoka-one {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 105.8;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* NAVBAR */

nav {
    width: 100%;
    position: relative;
    height: auto;
    /*background-color: rgb(242 220 204);*/
    display: flex;
    padding: 20px 40px 20px 40px;
    justify-content: space-between;
    z-index: 10;
}

.navbar-logo {
    width: 65px;
    height: 65px;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: center; /* Horizontally centers content */
    align-items: center; /* Vertically centers content */
}
nav ul li {
    /*background-color: #f5f5f5;*/
    color: #9c6644;
    margin-left: 45px;
    transition: transform 0.5s ease; 
}
nav ul li:hover {
    transform: scale(1.1) translateY(-2.5px);
}
nav ul li a {
    color: #9c6644;
}
nav ul li a:hover {
    color: #9C6644;
}

/*  Birthday Cake Section  */

.setitle {
    text-align: center;
    margin-top: 40px;
    font-size: 36px;
    color: #9c6644;
}

.itemcard {
    width: 271px;
    height: 350px;
    border: 2px solid #E3B7A0;
    margin: 30px;
}
.itemcard img {
    width: 150px;
    height: 150px;
    margin-left:3.5vw;
    margin-top: 22px;
}

.item-card-content {
    text-align: center;
    margin-top: 15px;
}
.liya {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 5px;
    
}
.liya select {
    margin-left: 5px;
    margin-top: 1px;
    width: 67%;
    max-width: 92px;
    padding: 7px 14px;
    font-size: 14px;
    font-weight: 500;
    color: #8b5a3c;
    background-color: #fff;
    border: 1.5px solid #e6d5c7;
    border-radius: 10px;
    cursor: pointer;
}

.liya select:hover{
    border-color: #d2b49c;
}

.liya select:focus{
    outline: none;
    border-color: #0a7cff;
    box-shadow: 0 0 0 2px rgba(10, 124, 255, 0.15);
}
.title {
    color: #7F5539;
    margin-bottom: -1px;
}

.price {
    color: #7F5539;
    font-size: 20px;
    margin-top: 10px;
}
.item-card-content button {
    background-color: #EDE0D4;
    color: #7F5539;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: -3px;
    cursor: pointer;
    border-radius: 50px;
}

.allcard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 52px;
    max-width: 1402px;
    margin: auto;
}