
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f5f5f5;
}

.hero-section {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

nav {
    width: 100%;
    position: relative;
    height: auto;
    background-color: transparent;
    display: flex;
    padding: 20px;
    z-index: 10;
}

.navbar-logo {
    width: 65px;
    height: 65px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    background-color: #f5f5f5;
    color: #9c6644;
    margin-left: 20px;
}

/* carosel*/
.slider-container {
      top: -13vh;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      position: relative;
      margin:0;
      border-radius: 10px;
    }
.slide img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      display: block;
    }
.caption {
      line-height: 0%;
      margin-top: 89px;
      margin-left: 389px;
      font-size: 28px;
      height: 230px;
      width: 605px;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #7f5539;
    }

.caption h2 {
      font-family:'Franklin Gothic Medium';
      font-size: 48px;
      margin-bottom: 20px;
      font-weight: bold;
      color: #9C6644
    }
.caption img {
      
      width: 100px;
      height: 100px;
      margin-top: 20px;
      margin: auto;
    }
