@font-face {
  font-family: "Franklin Gothic Heavy";
  src: url("fonts/FranklinGothicHeavy.woff2") format("woff2"),
       url("fonts/FranklinGothicHeavy.woff") format("woff");
  font-weight: 900;   /* Heavy = 900 */
  font-style: normal;
}
@font-face {
  font-family: "Fredoka One";
  src: url("fonts/FredokaOne-Regular.woff2") format("woff2"),
       url("fonts/FredokaOne-Regular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}


.fg-heavy {
  font-family: "Franklin Gothic Heavy", sans-serif;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* Navbar */

nav {
    width: 100%;
    position: relative;
    height: auto;
    /*background-color: rgb(71, 167, 252);*/
    display: flex;
    padding: 20px 40px 20px 40px;
    justify-content: space-between;
    z-index: 10;
}

.navbar-logo {
    width: 65px;
    height: 65px;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: center; /* Horizontally centers content */
    align-items: center; /* Vertically centers content */
}
nav ul li {
    /*background-color: #f5f5f5;*/
    color: #9c6644;
    margin-left: 45px;
    transition: transform 0.5s ease; 
}
nav ul li:hover {
    transform: scale(1.1) translateY(-2.5px);
}

/* Hero Section */
.hero-section {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
/* carousol */
.slider-container {
      top: -22vh;
      width: 100%;
      height: 108vh;
      overflow: hidden;
      position: relative;
      margin:0;
      border-radius: 10px;
    }
.slider-track {
      display: flex;
      transition: transform 1s ease-in-out;
    }
    .slide {
      flex: 0 0 100%;
      opacity: 0.5;
      transform: scale(0.9);
      transition: transform 0.6s ease, opacity 0.6s ease;
    }

    .slide.active {
      opacity: 1;
      transform: scale(1);
    }

.slide img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      display: block;
    }

   /* flyer-1 */ 
.caption {
      margin-top: 89px;
      margin-left: 389px;
      font-size: 20px;
      height: 230px;
      width: 605px;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #7f5539;
    }

.caption h2 {
      font-family:'Franklin Gothic Heavy', sans-serif;
      font-size: 48px;
      margin-bottom: 20px;
      font-weight: bold;
      color: #9C6644
    }
.caption p{
    line-height: 1.2;
    top: auto;
}
.caption img {
      
      width: 100px;
      height: 100px;
      margin-top: 20px;
      margin: auto;
    }
.caption button{
    margin-top: 30px;
    padding: 12px 24px;
    font-size: 18px;
    color: #9C6644;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.caption button:hover {
    background-color: #fff;
    color: #7F5539;
}

/*flyer-2 */

.slogan {
    margin: auto;
    font-size: 20px;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #7f5539;
}

.slogan h2{
    margin: auto;
    font-family:'Franklin Gothic Heavy', sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #9C6644
}
.content {
    position: absolute;
    line-height: 1.2;
    text-align: center;
    font-size: 20px;
    top: 55vh;
    width: 35%;
    margin: auto;
    color: #7f5539;
    margin-left: 5.5%;
}

/* Offers Section */

.offers {
    margin: 0 10% 15vh 10%;
}

.offers h2 {
    font-size: 70px;
    font-family: 'Franklin Gothic Heavy';
    font-weight: 400;  
    color: #9C6644;
    text-align: center;
}

.offers p {
    font-size: 28px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #7F5539;
    text-align: center;
}

.cakes {
    justify-content: space-between;
    display: flex;
    gap: 50px;
    margin: auto;
    margin-top: 5vh;
}

figcaption {
    font-size: 16px;
    text-align: center;
    color: #7F5539;
}

.offers img {
    width: 160px;
    height: 160px;
}


/*delivery banner*/
.deliverybanner {

}

.deliverybanner img {
    margin: auto;
    width: 90%;
    height: 190px;
    display: block;
    bottom: 50px;
}

.deliverybanner h2 {
    position: absolute;
    top: 195vh;
    width: 100%;
    text-align: center;
    font-size: 41px;
    color: #9C6644;
    font-family: "Fredoka One",sans-serif;
    line-height: 1.6;
}
.deliverybanner p {
    position: absolute;
    top: 215vh;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #7F5539;
    font-family: 'Inter', sans-serif;
}
.delboy{

}
.delboy img {
    position: absolute;
    top: 207vh;
    left: 54%;
    width: 50px;
    height: auto;
}
/* Category Section */

  .category-section{
    margin: 10px;
    text-align: center;
}
  .category-section h1{
    font-size: 45px;
    margin-top: 50px;
  }
    .types {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 64px;
  }

  .type-track { 
    display: flex;
    transition: transform 5s ease-in-out;
  }

  .type {
    min-width: 20%; /* 5 visible */
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }

  .type img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  .type p {
    margin-top: 20px;
    font-weight: bold;
    font-size: 35px;
  }