
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f5f5f5;
}

.hero-section {
    width: 100%;
    height: 100vh;
    background-image: url("Resources/H2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

nav {
    width: 100%;
    position: relative;
    height: 12.5vh;
    background-color: rgb(71, 167, 252);
}