@font-face {
  font-family: "Franklin Gothic Heavy";
  src: url("fonts/FranklinGothicHeavy.woff2") format("woff2"),
       url("fonts/FranklinGothicHeavy.woff") format("woff");
  font-weight: 900;   /* Heavy = 900 */
  font-style: normal;
}

.fg-heavy {
  font-family: "Franklin Gothic Heavy", sans-serif;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.fredoka-one {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 105.8;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* NAVBAR */

.navbar_container {
    width: 100%;
    position: relative;
    height: auto;
    /*background-color: rgb(242 220 204);*/
    display: flex;
    padding: 20px 40px 20px 40px;
    justify-content: space-between;
    z-index: 10;
}

.navbar-logo {
    width: 65px;
    height: 65px;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: center; /* Horizontally centers content */
    align-items: center; /* Vertically centers content */
}
nav ul li {
    /*background-color: #f5f5f5;*/
    color: #9c6644;
    margin-left: 45px;
    transition: transform 0.5s ease; 
}
nav ul li:hover {
    transform: scale(1.1) translateY(-2.5px);
}
nav ul li a {
    color: #9c6644;
}
nav ul li a:hover {
    color: #9C6644;
}
/* Nav bar toggle */
.toggle_menu {
    display: none;
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #7F5539;
    transition: all 0.3s ease-in-out;
}


/* HERO SECTION */
.hero-section {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
/* carousol */
.slider-container {
      top: -22vh;
      width: 100%;
      height: 108vh;
      overflow: hidden;
      position: relative;
      margin:0;
      border-radius: 10px;
    }
.slider-track {
      display: flex;
      transition: transform 1s ease-in-out;
    }
    .slide {
      flex: 0 0 100%;
      opacity: 0.5;
      transform: scale(0.9);
      transition: transform 0.6s ease, opacity 0.6s ease;
    }

    .slide.active {
      opacity: 1;
      transform: scale(1);
    }

.slide img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      display: block;
    }

   /* flyer-1 */ 
.caption {
      margin-top: 89px;
      margin-left: 389px;
      font-size: 20px;
      height: 230px;
      width: 605px;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #7f5539;
    }

.caption h2 {
      font-family:'Franklin Gothic Heavy', sans-serif;
      font-size: 48px;
      margin-bottom: 20px;
      font-weight: bold;
      color: #9C6644
    }
.caption p{
    line-height: 1.2;
    top: auto;
}
.caption img {
      
      width: 100px;
      height: 100px;
      margin-top: 20px;
      margin: auto;
    }
.caption button, .category-section button {
    margin-top: 30px;
    padding: 12px 24px;
    font-size: 18px;
    color: #9C6644;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.caption button:hover {
    background-color: #fff;
    color: #7F5539;
}

/*flyer-2 */

.slogan {
    margin: auto;
    font-size: 20px;
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #7f5539;
}

.slogan h2{
    margin: auto;
    font-family:'Franklin Gothic Heavy', sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #9C6644
}
.content {
    position: absolute;
    line-height: 1.2;
    text-align: center;
    font-size: 20px;
    top: 55vh;
    width: 35%;
    margin: auto;
    color: #7f5539;
    margin-left: 5.5%;
}

/* OFFERS SECTION */

.offers {
    margin: 0 10% 15vh 10%;
}
/*
.offers h2 {
    font-size: 45px;
    font-family: 'Franklin Gothic Heavy';
    font-weight: 400;  
    color: #9C6644;
    text-align: center;
}

.offers p {
    font-size: 28px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #7F5539;
    text-align: center;
}
*/
.cakes {
    justify-content: space-between;
    display: flex;
    gap: 50px;
    margin: auto;
    /*margin-top: 5vh;*/
}

figcaption {
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
    color: #7F5539;
}

.offers img {
    width: 160px;
    height: 160px;
}

/*DELIVERY BANNER*/

.deliverybanner {
    position: relative;
}

.deliverybanner img {
    margin: auto;
    width: 100%;
    height: 36vh;
    display: block;
    bottom: 50px;
}

.deliverybanner h2 {
    position: absolute;
    top: 2vh;
    width: 100%;
    text-align: center;
    font-size: 41px;
    color: #9C6644;
    font-family: "Fredoka", sans-serif;
    line-height: 1.6;
}
.deliverybanner p {
    position: absolute;
    top: 24vh;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #7F5539;
    font-family: "Fredoka", sans-serif;
}
.delboy {

}
.delboy img {
    position: relative;
    top: -22vh;
    left: 55%;
    width: 50px;
    height: auto;
}
/* CATEGORY SECTION */

.category-section{
    margin: -2vh 0 12vh 0;
    text-align: center;
}
.category-section button {
    border: 2px solid #7F5539;
    margin-top: 5vh;
}
.category-section button:hover {
    background-color: #7F5539;
    color: #ffffff;
}
.category-section h1{
    font-size: 45px;
    margin-top: 50px;
    font-family: 'Franklin Gothic Heavy';
    color: #9C6644;
}
.types {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 5vh;
}

  .type-track { 
    display: flex;
    transition: transform 5s ease-in-out;
  }

  .type {
    min-width: 20%; /* 5 visible */
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
  }

  .type img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }

  .type p {
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Heavy';
    font-size: 20px;
    color: #7F5539;
  }

  /* ABOUT US */

  .box{
    max-width: 1000px;
    width: 100%;
    background: white;
    margin: auto;
    padding: 40px 30px;
    border: 1px solid #7F5539;
    border-radius: 6px;
    text-align: center;
    line-height: 1.7;
    font-size: 18px;
    color: #7F5539;
  }
  .highlight{
      font-weight: bold;
      color: #ad7c58;

  }
  .logo img{
      width: 150px;
      height: auto;
  }
  .bakery-name{
      margin-top: 10px;
      font-size: 16px;
      letter-spacing: 1px;
      color: #555;
  }
   
  /* OUR SERVICES */

  .services {
    background-image: url('Resources/bg-services.jpg');
    margin-top: 10vh;
    position: relative;
    padding: 2vh 0 6vh 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  .services h1 {
    position: relative;
    text-align: center;
    font-family: 'Franklin Gothic Heavy';
    color: #9C6644;
    font-weight: 1000;
    margin: 2rem 0 2rem 0;
    font-size: 45px;
  }

.service-icons  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: auto;
}

.service-icons figure{
  background-color: #fff;
}

.service-icons figcaption  {
  font-family: Inter;
  margin: 1rem 1rem 3rem 1rem;
}

.service-icons img {
  width: 100px;
  display: block;
  justify-content: center;
  margin: 2rem 3rem 2rem 11rem;
}

/* ABOUT US */

.blog-box {
    width: 100%;
    height: 100vh;
    background-color: #FFFAF6;
    margin: 10vh 0 10vh 0;
}
.blog-box h1 {
    position: relative;
    text-align: center;
    font-family: 'Franklin Gothic Heavy';
    color: #9C6644;
    font-size: 45px;
    padding-top: 4rem;
    margin-bottom: 0;
}
.beige-panel {
    width: 30%;
    height: 100.2%;
    background-color: #E6CCB2;
    float: right;
    margin-top: -16.3vh;
}
.middle {
    width: 95%;
    height: 69%;
    /*margin-top: 20%;*/
    background-color: #FFFAF6;
    z-index: 10;
    position: absolute;
    padding-left: 10%;
}
.middle h2 {
    color: #B08968;
    font-family: "Fredoka", sans-serif;
    font-size: 29px;
    margin-top: 12vh;
}
.middle p {
    color: #7F5539;
    font-size: 18px;
    line-height: 35px;
}
.middle .owner-img {
    position: relative;
    width: 40%;
    height: 100%;
    float: right;
    background-image: url('Resources/wasana.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    top: -60.3vh;
}

/*Blog section begin*/

.blogtitle h1 {
    text-align: center;
    font-family: 'Franklin Gothic Heavy';
    color: #9C6644;
    font-size: 45px;
    padding-top: 4rem;
    margin-bottom: 0;
    font-weight: 1000;
}
.blog-table {
    margin: auto;
    width: 90%;
    height: auto;
    margin-top: 5vh;
    padding-bottom: 5vh;
    align-items: center;
}
.blog-post {
    display: flex;
    margin-top: 5vh;
    margin-left: -45px;
}
.post {
    background-color: #FFF5E8;
    margin-left: 15vw;
    border-radius: 8px;;
    border: 4px solid #B08968;
    width: 465px;
    height: 79vh;

    
}
.text {
    position: absolute;
    font-size: 17px;
    width: 76%;
    margin-left: 56px;
    margin-top: 50px;
    
}
.Aha{
    position: relative;
    top: -272px;
    left: -152px;
}
.brpost{
    background-color: #B08968;
    margin-left: 2vw;
    border-radius: 8px;
    width: 465px;
    height: 41vh;
    margin-top: -33vh;
}

.brpost p{
    color: #ffffff;
}
/*  === BLOGS END === */
/* FOOTER */
.footer {
    background: #f4eae2;
    text-align: center;
    padding-top: 40px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    font-family: "Inter", sans-serif;
    color: #6b4b3b;
}

.footer h2 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 700;
}

.footer-text {
    font-size: 17px;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto 25px auto;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 0 25px 40.75%;
}

.item {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    gap: 8px;
    font-size: 18px;
    text-align: center;
}

.icon {
    font-size: 22px;
}

.search-box {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box input {
    width: 260px;
    padding: 10px 15px;
    border: 2px solid #c6b3a3;
    border-radius: 6px 0 0 6px;
    outline: none;
    font-size: 16px;
    margin-right: 1%;
}

.search-btn {
    padding: 10px 15px;
    border: 2px solid #c6b3a3;
    background: white;
    border-left: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    font-size: 18px;
}

.footer-bottom {
    background: #a97b54;
    color: white;
    margin-top: 40px;
    padding: 20px;
    border-radius: 0 0 0 0;
    font-size: 15px;
}


/* MEDIA QUERIES */

@media (max-width: 880px) {


    .navbar_container .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        gap: 1.7rem;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        left: 0;
        padding: 5rem 0 0 1.5rem;

    }

    .navbar_container .navbar_menu.active {
        display: flex;
    }

    .toggle_menu {
        display: block;
        z-index: 999;
        
    }
    .toggle_menu.active .bar:nth-child(2) {
        opacity: 0;
    }
    .toggle_menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .toggle_menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}