font-face {
  font-family: "Franklin Gothic Heavy";
  src: url("fonts/FranklinGothicHeavy.woff2") format("woff2"),
       url("fonts/FranklinGothicHeavy.woff") format("woff");
  font-weight: 900;   /* Heavy = 900 */
  font-style: normal;
}

.fg-heavy {
  font-family: "Franklin Gothic Heavy", sans-serif;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.fredoka-one {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 105.8;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f5f5f5;
}

.order-form {
    background-color: rgb(240, 206, 212);
    display: block;
    justify-content: center;
    width: 50%;
    padding: 0rem 0rem 0rem 2rem;
    margin: 1rem auto;
    
}

.order-form form {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.order-form input {
    padding-left: 50px;
}
