font-face {
  font-family: "Franklin Gothic Heavy";
  src: url("fonts/FranklinGothicHeavy.woff2") format("woff2"),
       url("fonts/FranklinGothicHeavy.woff") format("woff");
  font-weight: 900;   /* Heavy = 900 */
  font-style: normal;
}

.fg-heavy {
  font-family: "Franklin Gothic Heavy", sans-serif;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.fredoka-one {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 105.8;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f5f5f5;
}

.order-form {
    background-color: rgb(240, 206, 212);
    display: block;
    justify-content: center;
    width: 75%;
    padding: 0rem 0rem 0rem 2rem;
    margin: 1rem auto;

}

.order-form form {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem 0rem 0rem;
}

.order-form input {
    width: 100%;
    height: 2rem;
    background-color: rgb(215, 206, 208);
    border-radius: 1rem;
    border: none;
    padding: 0rem 0rem 0rem 5rem;
}

.order-form h2 {
  display: flex;
  justify-content: center;
}


.submit-button {
    width: 10rem;
    height: 2.5rem;
    margin: 1rem auto;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: transparent;
}

.order-form .amount {
    width: 35%;
    padding: 0rem 0rem 0rem 1.5rem;
}

.order-all {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.custom-order {
  border-right: 2px solid rgb(234, 224, 225);
  padding-right: 15.5rem;
  gap: 1rem;
}

.custom-discription {
  width: 20rem;
  height: 50%;
  resize: none;
  background-color:  rgb(215, 206, 208);
  border: none;
  border-radius: 1rem;
  padding: 1rem 0rem 0rem 1rem;
}
